* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.card-content {
  width: 550px;
  height: 490px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: grey;
  border: 1px black solid;
  padding: 70px;
  position: relative;
}
.card-content:nth-child(1):nth-child(1) {
  display: none;
}
.img {
  position: absolute;
  right: 10px;
  top: 10px;
}
.unn {
  padding-bottom: 10px;
}
.name {
  font-size: 24px;
  font-weight: 600;
}
.username {
  color: rgb(26, 21, 155);
  font-size: 20px;
}
.title {
  padding-bottom: 10px;
}
.dragon {
  max-width: 100%;
}
.text {
  padding-top: 10px;
}
